#userbar {
    background-color:#fff;
    float: right;
    width: 250px;
}

#wrapper {
    width: 900px;
    margin: 0 auto;             /* center the page */
}

#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        /* avoid a double border */
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
    width:100%;
    height:20px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
}